 <%= simple_form_for @project do |f| %>
  <div class="modal-body">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.submit 'Update', class: 'btn btn-default', id: 'edit-project-submit' %>
  </div>
<% end %>