<div class="center">
  <h1><%= @project.name %></h1>
  <h3><%= @project.description %></h3>
  <hr>
  <h2><%= @summary %> total hours worked</h2>
</div>

<h5 class="right  dark-font"><%= link_to 'Return to Projects', root_path %></h5>