@import "bootstrap";

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.light-text {
  color: white;
}

body {
  margin-top: 150px;
}

.project {
  margin: 25px;
}

.btn-default {
  margin: 10px;
  border-radius: 5px;
}

.btn {
  white-space: unset;
}

hr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  border-color: #afd6f9;
}

#new-project {
  background-color: #afd6f9;
  width: 12.5%;
  float: right;
  margin-left: auto;
  margin-right: 50px;
}

#new-project-submit {
  background-color: #afd6f9;
  float: right;
}

.authentication-form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.navlink {
  justify-content: center;
  display: flex;
}

button a {
  color: black;
}

.right {
  display: flex;
  margin-left: auto;
  margin-right: 150px;
  margin-top: 50px;
}

a, h5 {
  margin-left: auto;
}

.dark-font {
  color: black;
}